[submodule "go/gopl.io"]
	path = go/gopl.io
	url = git@github.com:adonovan/gopl.io.git
[submodule "libp2p/go-libp2p"]
	path = libp2p/go-libp2p
	url = git@github.com:libp2p/go-libp2p.git
[submodule "go/go.dev"]
	path = go/go.dev
	url = git@github.com:golang/website.git
